extends ../layout

block content
  .users
    .flex 
      button(type='button' class='btn' onclick="popup('student')") Student aanmaken
      button(type='button' class='btn' onclick="popup('teacher')") Docent aanmaken 
    .flex
      h1 Studenten
      h1 Docenten
    .flex
      table
        thead
          tr
            th actief
            th naam
            th actie
        tbody.studentBody     
          each user, i in students
            tr
              td
                div(class=user.active == true ? 'active': 'inactive')
              td= user.name
              td.actions
                button(type='button' id=`${user._id}` class='btn-icon')
                  i.fa.fa-trash 

      table
        thead
          tr
            th actief
            th naam
            th actie
        tbody.teacherBody
          each user, i in teachers
              tr(id=`${user._id}`)
                td
                  div(class=user.active == true ? 'active': 'inactive')
                td(id=`${user._id}`)= user.name
                td.actions
                  button(type='button' id=`${user._id}` class='btn-icon')
                    i.fa.fa-trash 

    #alert.hide
      .box
        p.removeUser
        .flex.justified-space 
          form(method='post' action="" class="form")
            button.btn(type='submit' onclick="hide('alert')") verwijderen
          button.btn(onclick="hide('alert')") Annuleer

    #create.hide
      button.btn-close(onclick="hide('type')") 
        i.fa.fa-close
      .box
        p Maak een nieuwe gebruiker aan.
          form(method='post' enctype="multipart/form-data" action=`/backoffice/users`)
            .flex.column.start.form-item
              label Naam
              input(type="text" placeholder="Naam" name="name" value="")
              input(type="hidden" name="active" value="false")
              input(type="hidden" id="role" name="_role")
            .flex.column.start.form-item
              label profiel foto
              input(type="file" name="file")
            .flex.column.start.form-item
              label Geboortedatum
              input(type="date" placeholder="Geboortedatum" name="birthday" value="")
            .flex.column.start.form-item
              label Woonplaats
              input(type="text" placeholder="Woonplaats" name="origin" value="")
            .flex.column.start.form-item
              label Over persoon
              input(type="text" placeholder="Over persoon" name="about" value="")
            button.btn(type='submit' onclick="hide('type')") Klaar
        
    script.
      var students = document.querySelector('.studentBody'); 
      var teachers = document.querySelector('.teacherBody');

      students.addEventListener('click', function(e) {
        if (e.target.tagName === 'BUTTON'){
            var id = e.target.id;
            remove(id);
        }
      });

      teachers.addEventListener('click', function(e) {
        if (e.target.tagName === 'BUTTON'){
            var id = e.target.id;
            remove(id);
        }
      });

      var remove = function(id){
          var alert = document.querySelector('#alert');
              alert.classList.remove('hide');
              alert.classList.add('visible');
          var p = document.querySelector('.removeUser');
          p.innerHTML = "Bent u zeker dat u deze gebruiker wilt verwijderen?";
          var form = document.querySelector('.form');
          form.action = `/backoffice/users/${id}/delete`;
      }

      var popup = function (type) {
         if(type == 'student' || type == 'teacher'){
          var create = document.querySelector('#create');
                create.classList.remove('hide');
                create.classList.add('visible');
                var input = document.querySelector('#role');
                input.value = type;
        } 
      }

      var hide = function (type) {
        if(type == 'alert'){
          var alert = document.querySelector('#alert');
              alert.classList.remove('visible');
              alert.classList.add('hide');
        } else if(type == 'type'){
          var create = document.querySelector('#create');
              create.classList.remove('visible');
              create.classList.add('hide');
        }
      }
