extends ../layout

block content
  - var userId = "id"
  - var userName = "name"

  .flex 
    button(type='button' class='btn' onclick="popup('teacher')") Docent aanmaken 
    - var type = "teacher";

    button(type='button' class='btn' onclick="popup('student')") Student aanmaken
    - type = "student";

  .flex
    h1 Studenten
    h1 Docenten
  .flex
    table
      thead
        tr
          th actief
          th naam
          th actie
      tbody     
        each user, i in students
          tr
            td
              div(class=user.active == true ? 'active': 'inactive')
            td(id=`${user._id}`)= user.name
            td.actions
              button(type='button' class='btn-icon' onclick="popup('alert')") 
                i.fa.fa-pencil
              button(type='button' class='btn-icon' onclick="popup('alert')")
                i.fa.fa-trash 
                  - userId = user._id
                  - userName = user.name
    table
      thead
        tr
          th actief
          th naam
          th actie
      tbody
        each user, i in teachers
            tr
              td
                div(class=user.active == true ? 'active': 'inactive')
              td(id=`${user._id}`)= user.name
              td.actions
                button(type='button' class='btn-icon' onclick="popup('alert')") 
                  i.fa.fa-pencil
                button(type='button' class='btn-icon' onclick="popup('alert')")
                  i.fa.fa-trash 
                    - userId = user._id
                    - userName = user.name

  #alert.hide
    .box
      p Bent u zeker dat u #{userName} wil verwijderen?
      .flex.justified-space 
        form(method='post' action=`/backoffice/users/${userId}/delete`)
          button.btn(type='submit' onclick="hide('alert')") Yes I want to delete this user.
        button.btn(onclick="hide('alert')") No, do not delete this person. 

  #create.hide
    button.btn-close(onclick="hide('type')") 
      i.fa.fa-close
    .box
      p Maak een nieuwe #{type} aan.
        form(method='post' action=`/backoffice/users`)
          .flex.column.start.form-item
            label Naam
            input(type="text" placeholder="Naam" name="name" value="")
            input(type="hidden" name="active" value="false")
            input(type="text" id="role" name="_role")
          .flex.column.start.form-item
            label Geboortedatum
            input(type="date" placeholder="Geboortedatum" name="birthday" value="")
          .flex.column.start.form-item
            label Woonplaats
            input(type="text" placeholder="Woonplaats" name="origin" value="")
          .flex.column.start.form-item
            label Over persoon
            input(type="text" placeholder="Over persoon" name="about" value="")
          button.btn(type='submit' onclick="hide('type')") Klaar
      
  script.
    var popup = function (type) {
      if(type == 'alert'){
        var alert = document.querySelector('#alert');
            alert.classList.remove('hide');
            alert.classList.add('visible');
      } else if(type == 'student' || type == 'teacher'){
         var create = document.querySelector('#create');
              create.classList.remove('hide');
              create.classList.add('visible');
              var input = document.querySelector('#role');
              input.value = type;
      } 
    }
    var hide = function (type) {
      if(type == 'alert'){
        var alert = document.querySelector('#alert');
            alert.classList.remove('visible');
            alert.classList.add('hide');
      } else if(type == 'type'){
        var create = document.querySelector('#create');
            create.classList.remove('visible');
            create.classList.add('hide');
      }
    }
    var doHide = function(id){
        hide();
        hideRecord(id);
      }
    var hideRecord = function (id) {
      console.log('id: ', id);
      var record = document.querySelector('#' + id);
      record.classList.add('hide');
    }