extends ../layout

block content
  .events
    button.btn Voeg evenement toe
    table
      thead
        tr
          th datum
          th naam
          th beschrijving 
          th locatie
          th start
          th stop
          th acties
      tbody.eventBody
        each event, i in events
          tr  
            td.date=moment(event.date).format("DD.MM.YYYY")
            td=event.name
            td=event.description 
            td=event.location
            td.start=event.start
            td.end=event.stop
            td.actions
              i.fa.fa-pencil
              i.fa.fa-trash(id=`${event._id}`)

    #alert.hide
      .box
        p.removeEvent
        .flex.justified-space 
          form(method='post' action="" class="form")
            button.btn(type='submit' onclick="hide('alert')") verwijderen
          button.btn(onclick="hide('alert')") Annuleer

  script.
    var events = document.querySelector('.eventBody');
    events.addEventListener('click', function(e) {
      if (e.target.tagName === 'I'){
        var id = e.target.id;
        remove(id);
      }
    });

    var remove = function(id){
      var alert = document.querySelector('#alert');
        alert.classList.remove('hide');
        alert.classList.add('visible');
      var p = document.querySelector('.removeEvent');
          p.innerHTML = "Bent u zeker dat u dit evenement wilt verwijderen?";
      var form = document.querySelector('.form');
          form.action = `/backoffice/events/${id}/delete`;
    }
    
    var hide = function (type) {
        if(type == 'alert'){
          var alert = document.querySelector('#alert');
              alert.classList.remove('visible');
              alert.classList.add('hide');
        } else if(type == 'type'){
          var create = document.querySelector('#create');
              create.classList.remove('visible');
              create.classList.add('hide');
        }
    }