extends ../layout

block content
  .events
    table
      thead
        tr
          th datum
          th naam
          th beschrijving 
          th locatie
          th start
          th stop
          th acties
      tbody
        each event, i in events
          tr  
              td=moment(event.date).format("DD.MM.YYYY")
              td=event.name
              td=event.description 
              td=event.location
              td=event.start
              td=event.stop
              td.m
                  i.fa.fa-pencil
                  i.fa.fa-trash