extends ../layout

block content
  .events-update
    a.btn.flex(href="/backoffice/events") 
      i.fa.fa-chevron-left 
    h1 Evenement #{item.name} aanpassen 
    form(method='post' action=`/backoffice/events/${item._id}/update`)
      .flex.column.start.form-item
        label Naam 
        input(type="text" placeholder="Geef een naam aan je evenement" name="name" value=`${item.name}`)
      .flex.column.start.form-item
        label datum
        input(type="text" placeholder="datum" name="date" value=`${moment(item.date).format("MM.DD.YYYY")}`)
      .flex.column.start.form-item
        label Beschrijving
        textarea(cols="30", rows="10" placeholder="Korte inhoud over je evenement" name="description") #{item.description}
      .flex.column.start.form-item
        label Locatie
        input(type="text" placeholder="Waar vind je evenement plaats" name="location" value=`${item.location}`)
      .flex.column.start.form-item
        label Start tijd
        input(type="time" name="start" value=`${item.start}`)
      .flex.column.start.form-item
        label Eind tijd
        input(type="time" name="stop" value=`${item.stop}`)
      button.btn(type='submit') Aanpassen